{% extends 'base.html' %}
{% block content %}
<div>
    <center>
    <h1>Crowd Sourced Inter-City Trading</h1>
    <p class="lead">Register<br>Request<br>Meet<br>It's that simple. Join today and get the things that aren't available in your city!</p>
    {% if user.is_authenticated %}
    {% else %}
    <a class="btn btn-large btn-success" href="/accounts/register">Register <span class="glyphicon glyphicon-ok-circle"></span></a>
    {% endif %}
    <br/><br/>
    </center>
</div>
<div class='twitter-widget'>
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/CitySwapNow" data-widget-id="608698446237736961">Tweets by @CitySwapNow</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
{% endblock %}

