{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% load thumbnail %}

<h1>Welcome, {{ user.first_name }}!</h1>

<div id='profile_picture_area'>
    {% if user.profile.picture %}
        <img class='profile_pic' src="/{{ user.profile.picture.url }}" /></br>
    {% else %}
        <img class='profile_pic' src="{% static 'default-user-image.png' %}" /></br>
    {% endif %}
</div>

<small><a href="{% url 'profile_edit' user.id %}">Update my profile</a></small>

<hr>
Your accepted requests:
</br>
</br>
{{ reqs }}
<ul>
{% for request in object_list %}
    <li><a href='/requests/detail/{{ request.pk }}'>{{ request.title }}</a></li>
    </br>
{% endfor %}
</ul>

{% endblock %}
