{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1>Requests</h1>
<a href="{% url 'new_request' %}"><h3>Make a new request!</h3></a>
<hr>
<div class='row'>
    <ul>
        <div class='col-md-6'>
        <h2>SEATTLE REQUESTS</h2>
        <ul>
        {% for request in object_list %}
            {% if request.origin = 'Seattle' %}
            <li style='font-size: 22px'><a href='detail/{{ request.pk }}'>{{ request.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        </div>
    </ul>
    <ul>
        <div class='col-md-6' style='margin-top: -10px'>
        <h2>PORTLAND REQUESTS</h2>
        <ul>
        {% for request in object_list %}
            {% if request.origin = 'Portland' %}
            <li style='font-size: 22px'><a href='detail/{{ request.pk }}'>{{ request.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
        </div>
    </ul>
</div>
{% endblock %}
